.grid {
  display: grid;
  max-width: 360px;
  min-width: 360px;
  border-radius: 8px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 70px);
  grid-template-areas:
    "result result result result"
    "add subtract multiply divide"
    "item7 item8 item9 itemEq"
    "item4 item5 item6 itemEq"
    "item1 item2 item3 itemEq"
    "item0 itemD itemAC itemEq";
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.add {
  grid-area: add;
}

.subtract {
  grid-area: subtract;
}

.multiply {
  grid-area: multiply;
}

.divide {
  grid-area: divide;
}

.result {
  grid-area: result;
  background-color: #424c52;
  color: #fff;
  font-weight: bold;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px;
  border-radius: 8px 8px 0 0;
}

.item7 {
  grid-area: item7;
}
.item8 {
  grid-area: item8;
}
.item9 {
  grid-area: item9;
}

.item4 {
  grid-area: item4;
}
.item5 {
  grid-area: item5;
}
.item6 {
  grid-area: item6;
}

.item1 {
  grid-area: item1;
}
.item2 {
  grid-area: item2;
}
.item3 {
  grid-area: item3;
}

.item0 {
  grid-area: item0;
  border-radius: 0 0 0 8px;
}
.itemD {
  grid-area: itemD;
}
.itemAC {
  grid-area: itemAC;
}

.itemEq {
  grid-area: itemEq;
  background-color: #f77077 !important;
  border-radius: 0 0 8px 0;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eff2f5;
  border: 1px solid #899dae;
  font-weight: bold;
  font-size: 1.5rem;
}

.operation {
  background-color: #d2dce4;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
